swagger: "2.0"
info:
  version: "0.0.2"
  title: Design First API's fdgfgf
# during dev, should point to your local machine
host: node8.codenvy.io:34850
# basePath prefixes all resource paths 
basePath: /
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /hello:
    # binds a127 app logic to a route
    x-swagger-router-controller: hello_world
    get:
      tags:
        - Hello
      description: Returns 'Hello' to the caller
      # used as the method name of the controller
      operationId: hello
      parameters:
        - name: name
          in: query
          description: The name of the person to whom to say hello
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/HelloWorldResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
  /content:
    # binds a127 app logic to a route
    x-swagger-router-controller: content
    get:
      tags:
        - Content
      description: Returns 'Hello' to the caller
      # used as the method name of the controller
      operationId: retrieve
      parameters:
        - name: name
          in: query
          description: The name of the person to whom to say hello
          required: false
          type: string
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/HelloWorldResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
    put:
      tags:
        - Content
      operationId: create
      description: "Put me a json content package"
      parameters:
        - name: body
          in: body
          required: true
          description: a valid json file
          schema:
            $ref: "#/definitions/contentSchema"
      responses:
        "200":
          description: Success
          schema:
            # a pointer to a definition
            $ref: "#/definitions/HelloWorldResponse"
        # responses may fall through to errors
        default:
          description: Error
          schema:
            $ref: "#/definitions/ErrorResponse"
      
  /swagger:
    x-swagger-pipe: swagger_raw
# complex objects have schema definitions
definitions:
  HelloWorldResponse:
    required:
      - message
    properties:
      message:
        type: string
  ErrorResponse:
    required:
      - message
    properties:
      message:
        type: string
  node:
    properties:
      name:
        type: object
        items:
          $ref: "#/definitions/contentSchema"
  contentSchema:
    properties:
      children:
        type: object
        items:
          $ref: "#/definitions/node"
      
    
